/* CSS Document */

/*@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700');*/
@font-face {
    font-family: Montserrat;
	src: url('font/Montserrat-UltraLight.eot?#iefix') format('embedded-opentype'), url('font/Montserrat-UltraLight.otf')  format('truetype');
    font-weight: 200;
}
@font-face {
    font-family: Montserrat;
	src: url('font/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), url('font/Montserrat-Regular.otf')  format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: Montserrat;
	src: url('font/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'), url('font/Montserrat-SemiBold.otf')  format('truetype');
    font-weight: 700;
}
*{ font-family:'Montserrat', sans-serif; }
html{ width:100%;height:100%;}
body{ width:100%;height:100%;background-color:#E7E1E6;z-index:10; }
#page .row{ margin:0;padding:0; background-repeat:no-repeat; background-position:center; background-size:cover;}
#page{ position:relative;padding:0; font-weight:200; }
h1,h2{ font-weight:700; }
h3,h4,h5{ font-weight:400; }
p{ margin:0 0 25px 0;font-size:24px; }
#footer{ min-height:50px;background-color:#555759; }
#loader-main{ height:100px;width:100px;position:absolute;top:50%;left:50%;margin:-50px 0 0 -50px; }
#loader-page{ position:absolute;top:12px;left:12px; }
.tall{ height:100%; }
.col-center{ display:inline-block; vertical-align:middle; float:none; margin-right:-4px; }
.noscroll{ position: fixed; overflow-y: scroll; width: 100%; }
.indent{ margin-left: 75px !important; }
@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}

