.navbar-header img{ left:50px; }
.navbar-toggle{position:absolute; padding:24px 25px !important; right:0; margin-right:30px !important; margin-top:30px !important;}
#footer .nav > li{ display:block; }
/*#footer a{ font-size:14px; }*/
pg p{ margin:0 0 40px 0;}
.hmenu > div{ margin:80px 0 !important; }
#page{position:relative;}
#pg-index .blue_bg{ background-position:center !important; }
#navigation {position:fixed; height:100% !important; width:100%; background-color:rgba(85, 87, 89, 0.925); z-index:100; padding:0 !important; margin-left:-1px !important; top: 120;}
.expimg{ margin-top:75px; }
.button{font-size:22px;}
.navbar-header img{ margin:15px 0 10px 0; width:78%; height:52px; }
#LHeader{ background-position:85% !important; background-size: text-align:left !important;}
#LHeader>div{ margin-top:60px;margin-bottom:60px; }
#LHeader a.button{ margin-left:7px !important; padding:7px 35px 9px 35px; font-size:18px; }
.headp{ margin-left:7px !important; font-size:16px; }
#pg .blue_bg{height:250px;}
/*.headp{font-size:30px;}*/
#navigation ul.nav.navbar-nav { height: 84%; overflow:auto;}
 @media screen and (orientation:landscape) { .navbar-header{ min-height: 120px;} .navbar-header img{ margin:15px 0 10px 25px; width:100%; height: 60px; } }
 @media only screen and (max-height: 599px) and (orientation: landscape){ 
  	#navigation ul.nav.navbar-nav {
		height: 360px;
	}
  }
   @media only screen and (min-height: 600px) and (orientation: landscape){ 
  	#navigation ul.nav.navbar-nav {
		height: 450px;
	}
  }
  
/*Force Collapsed Menu*/
@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
		padding-left: 50px;
		padding-top: 50px;
		padding-right: 25px;
    }
    .navbar-nav>li {
        float: none;
		/*margin-bottom:40px;*/
    }
	.navbar-nav > li > a{ color:#FFF !important; }
/*	.navbar-nav>li>a:not(#footer a) {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
	}*/
    .navbar-nav a {
		display:block;
     	font-size: 20px;
		color:#FFF;
		font-weight:400;
		padding-top: 10px !important;
        padding-bottom: 10px !important;
	}
	.navbar-nav 
	.navbar-nav>ul{list-style:none !important;}
	.navbar-nav>ul li{padding:10px 0;}
	.navbar-nav>li ul:not(#footer ul){ margin-left:50px;}
    .collapse.in{
        display:block !important;
    }
   .navbar-nav .open .dropdown-menu {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
    }
}